.card_block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  .card_text {
    margin: 5% 0 0 5%;
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .card_title {
      margin: 0 auto;
      max-width: 90%;
      font-family: 'Rubik Glitch';
      font-style: normal;
      font-weight: 400;
      font-size: calc(8vmin);
      line-height: calc(9vmin);
      text-align: center;
      text-transform: uppercase;
      color: #D3996D;
    }

    .card_subtitle {
      position: relative;
      z-index: 50;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 300;
      font-size: calc(2.7vmin);
      line-height: calc(3vmin);
      text-align: center;
      letter-spacing: 0.04em;
      color: #D3996D;
      @media (max-aspect-ratio: 1/1) {
        font-size: calc(4vmin);
        line-height: calc(5vmin);
      }
    }

    @media (max-aspect-ratio: 1/1) {
      max-width: 90vw;
      margin: 0;
    }
  }

  .card_mobile-img-container{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
  }

  .card_mobile-img {
    display: none;
    max-width: 80%;

    @media (max-aspect-ratio: 1/1) {
      display: flex;
      justify-content: center;
      margin: 0;
    }

    .mobile-img{
      width: 100%;
    }
  }

  .card_dialog {
    cursor: pointer;
    padding: 0 10px;
    align-self: center;
    z-index: 400;
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-items: center;
    align-items: center;
    width: 60vw;
    margin: 200px auto 0 auto;
    background: rgba(0, 0, 0, 0.35);
    border: 1px solid #971C1C;
    backdrop-filter: blur(6px);
    border-radius: 4px;
    height: fit-content;
    transition: 0.2s ease-in-out;

    .card_dialog-avatar {
      max-width: 100%;
    }

    .card_dialog-text {
      max-width: 669px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 300;
      font-size: 28px;
      line-height: 35px;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #FFDBD3;

      .map_link {

        text-decoration: none;
        font-family: 'SangBleuSunrise';

        .remove_map {
          color: #B58260;
          font-size: 28px;
          @media (max-aspect-ratio: 1/1) {
            font-size: 18px;
            line-height: 24px;
          }
        }
      }
      @media (max-aspect-ratio: 1/1) {
        font-size: 16px;
        line-height: 16px;
      }
      @media (max-aspect-ratio: 0.6/1) {
        font-size: 14px;
        line-height: 14px;
      }
    }

    .card_dialog-item {
      max-width: 100%;
      z-index: 0;
    }

    &:hover {
      .map_link{
        transform: scale(1.1);
      }
    }

    @media (max-aspect-ratio: 1/1) {
      position: absolute;
      bottom: 10%;
      width: 90vw;
    }
  }

  .card_label {
    z-index: 20;
    margin: 0 auto 5% auto;
    padding: 25px 0 25px 0;
    width: 95vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 132px;

    .label {
      width: 241px;
      height: 132px;
      @media (max-aspect-ratio: 1/1) {
        width: 142px;
        height: 76px;
      }
    }

    .age {
      width: 70px;
      height: 46px;
      @media (max-aspect-ratio: 1/1) {
        width: 47px;
        height: 30px;
      }
    }
  }
}
