@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik+Glitch&display=swap');

@font-face {
    font-family: 'SangBleuSunrise';
    src: url('../fonts/SangBleuSunrise.eot');
    src: url('../fonts/SangBleuSunrise.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SangBleuSunrise.woff') format('woff'),
    url('../fonts/SangBleuSunrise.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}