.traktir {
  overflow-x: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  @include bgPosition('../img/traktir/traktir.webp');
  background-position: right;

  @media (max-aspect-ratio: 1/1) {
    @include bgPosition('../img/traktir/traktirMobile.webp');
    background-size: cover;
    background-position: center;
  }
  .card_block {
    .card_text {
      align-self: flex-end;
      margin: 15% 5% 0 0;

      .radji_subtitle {
        max-width: 755px;
      }

      @media (max-aspect-ratio: 1/1) {
        align-self: center;
        margin: 3% 0 0 0 ;
      }
    }

    .card_mobile-img {
      align-self: center;
      position: relative;

      .card_item-mobile {
        display: none;
        @media (max-aspect-ratio: 1/1) {
          display: block;
          position: absolute;
          max-width: 17%;
          top: 58%;
          left: 27%;
        }
      }

    }

    .card_dialog {
      max-width: 90%;
      padding: 16px;
      width: fit-content;
      text-align: center;
      margin: 34px auto 0 auto;
      display: flex;

      .card_dialog-item {
        width: min(180px, 20vmin);
        height: min(180px, 20vmin);
      }


      .card_dialog-text {
        width: auto;
        max-width: unset;
      }

      @media (min-aspect-ratio: 1/1) {
        width: 60vw;
      }

      .map_link {
        font-family: 'SangBleuSunrise';
        text-transform: uppercase;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: start;
        margin: 0;

        .remove_map {
          color: #B58260;
          font-size: 28px;
          @media (max-aspect-ratio: 1/1) {
            text-align: center;
            font-size: 18px;
            line-height: 24px;
          }
        }
      }

    }

    .card_label {
      margin: 0 auto 0 auto;
    }
  }
}
